*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'PT Serif', serif;
 
}
.contener{
  min-height: 100vh;
  width: 100%;
  display:flex ;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.background{
  background-color:rgba(0, 0, 0, 0.214);
  margin: 0;
  padding: 0;
  border-radius: 30px;
}
.hero{
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
 text-align: center;
  margin-bottom:30px ;
  font-size: 50px;
  color: antiquewhite;
}
p{
  text-align: center;
  color: #DDA0DD;
  font-size: 20px;
  margin-bottom: 50px;
}
.link{
  display:block;
  text-align: center;
  margin-left: 40%;
  margin-right:40%;
  margin-top: 30px;
  font-size: 30px;
  font-size: 20px;
  color: aquamarine;
  padding: 20px 30px;
  text-decoration: none;
  background-image: linear-gradient(#CD5C5C,#EE82EE);
  border-radius: 10px;
}
 
.top-margin{
  margin-top: 100px;
  margin-bottom:50px ;
  color: aqua;
}
.amoun-flex{
  display: flex;
  background-color: aliceblue;
  margin-left:10%;
  margin-right:10%;
  border-radius: 20px;
  margin-bottom: 30px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.486);
 
 
 
}
.amoun-flex div{
   margin-left: 6%;
   margin-right: 20px;
   padding: 50px 30px;

 
 
}
.text-center{
  width: 40%;
  margin: 0 auto 10px;
  color: black;
}
.input-from{
  display: block;
  width:60%;
  margin: 0 auto 70px;
  padding: 10px 30px;
  border-radius: 10px;
  border-color: rgba(29, 66, 98, 0.21) ;
}
.margin-buttom{
  margin-bottom: 50px;
}
.containar-card{
  display: flex;
  justify-content:center;
  margin-top: 30px;

}
.card{
  height: 350px;
  width:290px;
  margin:0 10px;
  background-color: beige;
  box-shadow: 3px 3px 15px  ;
  padding: 10px;
  border-radius: 10px;
}
.imag{
  
  height: 120px;
  margin-bottom: 20px;
  margin-top:40px;
}
.boder{
  background-color: #EE82EE;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#email{
  padding: 5px 20px;
  border-radius: 30px;
}
#submit{
  padding: 5px 40px;
  border-radius: 2px;
  color:#00FF7F;
  font-weight: 900;
  background-color:black;
}